@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-hajj-brown: #451a03;
  --color-hajj-gold: #b45309;
  --color-hajj-cream: #fffbeb;
}

body {
  @apply bg-[#fdfcf7] text-stone-900 antialiased;
}

.glass-card {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}
